@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Oswald&family=The+Nautigal&display=swap');

.texteditor 
{
    background-color: #99ff99;	
	height: 130px;
	width: 300px;
	border-right: 1px solid black;
}

.fontfield 
{
	outline: none;
	width: 110px;
	height: 35px;
	margin-top: 19px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.texteditortop 
{
	display: flex;
	flex-direction: row;
}

.texteditormiddle
{	
	display: flex;
	flex-direction: row;
}

.sizefield 
{
	outline: none;
	width: 80px;
	height: 20px;
	border: 2px solid black;
	margin-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;

}

.textstylebuttons 
{
	display: flex;
	flex-direction: row;
	margin-left: 30px;
}

.texteditorbottom 
{
	background-color: #99ff99;	
	margin-top: 15px;
	border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.texteditordescription 
{
	margin-left: 120px;	
}

.stylebutton 
{
	background-color: #ccffcc;	
	margin-right: 15px;
	border: 2px solid black;
	width: 25px;
	height: 25px;
}

.text 
{
	margin-top: 1px;
	margin-left: 7px;
	font-weight: 1000;
}

.colorbutton 
{
	width: 25px;
	height: 25px;
}

.LuxuriousRoman
{
	font-family: 'Luxurious Roman';
}

.TheNautigal
{
	font-family: 'The Nautigal';
	font-weight: 800;
}

.Oswald
{
	font-family: 'Oswald'
}