.page
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
}

.container 
{
    display: flex;
    justify-content: center;
}

.butons
{
    display: flex;
    flex-direction: row;
    margin-left: -690px;
    margin-top: 20px;
}